{% extends "portal/fluid.html" %}


{% block conteudo %}
<h1>{{object.titulo}}</h1>
<p>{{object.resumo}}</p>
  <!-- XXX: usar URL da view configurada em urls.py -->
<p><a class="btn btn-primary btn-large" href="{{object.url}}">Visitar &raquo;</a></
{% endblock conteudo %}
