{% extends "portal/fluid.html" %}


{% block conteudo %}
<h1>Criar nova chamada</h1>

<form action="." method="post">
	{% csrf_token %}
<table border="1">
{{ form.as_table }}
<tr><td><input type="submit"></td></tr>
</table>
</form>	

{% endblock conteudo %}
